.instagram-content {
  @apply relative grid grid-cols-1 md:grid-cols-2 gap-4 mb-12;
}
.instagram-content::after {
  content: "";
  @apply rounded-xl shadow-sm shadow-bg-secondary w-full  absolute  left-0;
  top: 20%;
  height: 80%;
  background-image: url("../../public/images/landing/bg-instagram.svg");
  background-position: center;
  background-size: contain;
  z-index: -1;
}

.instagram-content__right {
  @apply flex justify-center items-center;
}
.instagram-content__right div {
  @apply flex justify-center items-center;
}

.instagram-content__right img {
  width: 70%;
}
.instagram-content__left {
  @apply flex justify-center items-end;
}
.instagram-content__left-inner {
  @apply flex justify-center items-center flex-col;
  height: 80%;
}
.instagram-content__left h3 {
  @apply text-2xl text-text-primary font-bold;
}

.instagram-content__left p {
  @apply my-4 text-lg font-normal text-text-primary text-center;
  animation: fadeintextinstagram 1000ms ease-in-out 3000ms both;
  -webkit-animation: fadeintextinstagram 1000ms ease-in-out 3000ms both;
}
