@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./admin.css";

@font-face {
  font-family: "Vazir";
  src: url("../public/fonts/Vazirmatn-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("../public/fonts/Vazirmatn-Light.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Vazir";
  src: url("../public/fonts/Vazirmatn-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("../public/fonts/Vazirmatn-Black.woff2");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Vazir", sans-serif;
  
}

input,
textarea,
select {
  @apply bg-transparent text-whiteone;
}
input:focus,
textarea:focus {
  @apply outline-none;
}

hr {
  @apply border-primary;
}

.center {
  @apply flex justify-center items-center;
}

.btn {
  @apply rounded-lg px-4 py-1 center;
}

.btn-primary {
  @apply bg-primary text-whiteone btn;
}
.btn-error {
  @apply bg-error text-whiteone btn;
}
.btn-circle {
  @apply w-12 h-12 bg-primary text-whiteone rounded-full center absolute bottom-4 right-4;
}
.btn-secondary {
  @apply btn text-whiteone bg-gray;
}

.Toastify__toast-body {
  @apply text-sm;
}
