@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./admin.css";
@import "./editoradmin.css";

@font-face {
  font-family: "Vazir";
  src: url("../public/fonts/Vazirmatn-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("../public/fonts/Vazirmatn-Light.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Vazir";
  src: url("../public/fonts/Vazirmatn-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Vazir";
  src: url("../public/fonts/Vazirmatn-Black.woff2");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: "Vazir", sans-serif;
}

input,
textarea,
select {
  @apply bg-secondary-admin text-whiteone;
  @apply dark:bg-dark-secondary-admin text-dark-whiteone;
}
input:focus,
textarea:focus {
  @apply outline-none;
}

hr {
  @apply border-primary-admin;
}

.center {
  @apply flex justify-center items-center;
}

.btn {
  @apply rounded-lg px-4 py-1 center;
}

.btn-primary {
  @apply bg-primary-admin text-whiteone btn;
  @apply dark:bg-dark-primary-admin dark:text-dark-whiteone;
}
.btn-error {
  @apply bg-error text-whiteone btn;
  @apply dark:text-dark-whiteone;
}
.btn-circle {
  @apply w-12 h-12 bg-primary-admin text-whiteone rounded-full center absolute bottom-4 right-4;
  @apply dark:bg-dark-primary-admin dark:text-dark-whiteone;
}
.btn-secondary {
  @apply btn text-whiteone bg-secondary-admin;
  @apply dark:bg-dark-secondary-admin dark:text-dark-whiteone;
}

.Toastify__toast-body {
  @apply text-sm;
}

/*----------------modal------------------*/

.modal {
  @apply fixed top-1/2 left-1/2  w-0 h-0 overflow-y-scroll overflow-x-hidden px-2 z-40 relative;
  @apply flex justify-center items-center transition-all duration-500;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal.active {
  @apply fixed top-0 left-0  w-full h-screen overflow-y-scroll overflow-x-hidden px-2;
  @apply flex justify-center items-center;
}
.close-modal {
  @apply w-12 h-12 rounded-full text-whiteone cursor-pointer absolute top-3 right-2 center;
  @apply dark:text-dark-whiteone;
  @apply border-2 border-whiteone;
}
.modal .modal-content {
  @apply w-full md:w-8/12 lg:md:w-6/12;
  min-height: 30vh;
}
.modal.modal.active .modal-content {
  animation: showContentModal 700ms 700ms both;
  -webkit-animation: showContentModal 700ms 700ms both;
}

/* width */
.modal::-webkit-scrollbar {
  @apply w-2;
}

/* Track */
.modal::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Handle */
.modal::-webkit-scrollbar-thumb {
  @apply bg-primary-admin  rounded-lg;
  @apply dark:bg-dark-primary-admin;

}

@keyframes showContentModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*----------------modal------------------*/
